html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Libre Franklin,-apple-system,BlinkMacSystemFont,Roboto,Droid Sans,Helvetica,Arial,sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.App {
    height: 100%;
    display: flex;
    flex-flow: column;

    min-width: 1000px;
}

header {
    flex: 0 1 auto;
}

.AppBody {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    color: #575757;
    background-color: #f0f2f5;
    padding: 24px 24px;
}

.page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
