html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Libre Franklin,-apple-system,BlinkMacSystemFont,Roboto,Droid Sans,Helvetica,Arial,sans-serif;
    font-size: 93.75%;
}

.App {
    height: 100%;
    display: flex;
    flex-flow: column;
}

header {
    flex: 0 1 auto;
}

.AppBody {
    flex: 1 1 auto;
}
