.hidden {
    visibility: hidden;
}

.error {
    color: red;
}

p {
    margin: 2px 0px;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

button.repeatedFieldsRemove {
    position: absolute;
    top: 0px;
    right: 0px;
}

ul.undecorated {
    list-style-type: none;
}

li.indented {
    margin-left: 10px;
}

li.fieldGroup {
    position: relative;
    margin-top: 10px;
}

form {
    display: flex;
    justify-content: center;
}

form h1, h4 {
    margin: 0 0 15px 0;
}

form .blockCard {
    min-width: 400px;
    margin-left: 20px;
}

form .blockCard:first-child {
    margin-left: 0;
}

form .blockHeader {
    background-color: #f6f7f9;
    padding: 14px 20px;
    transition: opacity .2s ease-out;
    font-weight: 700;
    font-size: 16px;
}

form .blockBody {
    padding: 14px 20px 20px 20px;
    background-color: white;
}

button {
    display: inline-block;
    font-weight: 600;
    color: #575757;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

button.link {
    padding: 0;
    color: #3498db;
}

form button[type=submit] {
    color: white;
    border: none;
    background-color: #3498db;
}

form button[type=submit]:hover {
    background-color: #f39c12;
}

.formFieldWrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    margin-bottom: 15px;
}

.formFieldWrapper label {
    padding-right: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.formFieldWrapper input {
    width: 300px;
    display: block;
    padding: .428571rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428572;
    color: #575757;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d4dae3;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s;
}

.formFieldWrapper input[disabled] {
    background-color: #f3f3f3;
    border: none;
    cursor: default;
}

.formFieldWrapper select {
    height: 25px;
    width: 330px;
    border: solid 1px #c3c3c3;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
}
