.hidden {
    visibility: hidden;
}

.top-padding {
    padding-top: 10px;
}

p {
    margin: 2px 0px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.vertical-wrapper {
    display: flex;
    flex-direction: column;
}

.horizontal-wrapper {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
    padding: 0;
}

.bordered {
    border: solid 1px #d4dae3;
}

ul.undecorated {
    list-style-type: none;
}

li.indented {
    margin-left: 10px;
}

.gc-orange{
    background: #ffae97;
    background: -moz-linear-gradient(-45deg, #ffae97 0%, #f02f17 75%, #f02f17 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffae97), color-stop(75%, #f02f17), color-stop(100%, #f02f17));
    background: -webkit-linear-gradient(-45deg, #ffae97 0%, #f02f17 75%, #f02f17 100%);
}

.gc-blue{
    background: #ffae97;
    background: -moz-linear-gradient(-45deg, #ffae97 0%, #5b61de 75%, #5b61de 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffae97), color-stop(75%, #5b61de), color-stop(100%, #5b61de));
    background: -webkit-linear-gradient(-45deg, #ffae97 0%, #5b61de 75%, #5b61de 100%);
}

@media (max-width: 900px) {
    .propertyGetPage .blockCard{
        margin-left: 0em;
    }
}

@media (max-width: 600px) {
    .propertyPage .container{
        margin: 0;
        margin-top: 40px
    }
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 8px;
  width: 100%;
}

.col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 8px;
  padding-bottom: 8px;
}

.col:first-child {
  padding-left: 0;
}

@media (max-width: 425px) {
  .col {
    width: 100%;
    padding-left: 0;
  }
}
