.hidden {
    visibility: hidden;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

button.repeatedFieldsRemove {
    position: absolute;
    top: 10px;
    right: 10px;
}

ul.undecorated {
    list-style-type: none;
}

li.indented {
    margin-left: 10px;
}

li.fieldGroup {
    position: relative;
    margin-top: 10px;
}

form {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 30px;
    border-radius: 5px;
}

form h1, h4 {
    margin: 0 0 10px 0;
}

form button {
    margin: 10px 0 0 0;
    padding: 5px 10px;
    border: solid 1px #c3c3c3;
    border-radius: 3px;
    cursor: pointer;
}

form button[type=submit] {
    color: white;
    border: none;
    background-color: #3498db;
}

form button[type=submit]:hover {
    background-color: #f39c12;
}

.formFieldWrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.formFieldWrapper label {
    padding-right: 10px;
    margin-bottom: 10px;
}

.formFieldWrapper input {
    width: 300px;
    padding: 5px 10px 5px 10px;
    cursor: text;
    text-overflow: ellipsis;
    border: solid 1px #c3c3c3;
    border-radius: 5px;
}

.formFieldWrapper input[disabled] {
    background-color: white;
    border: none;
    cursor: default;
}

.formFieldWrapper select {
    height: 25px;
    width: 322px;
    border: solid 1px #c3c3c3;
    border-radius: 5px;
    background-color: white;
}

p {
    margin: 2px 0px;
}

p.error {
    color: red;
}
